extends layout

block content
    div(class='gameContainer')
        p(class='difficultyMsg') Choose your difficulty:
        br
        div(class='difficulty')
            div(class='optionContainer')
                input(class='radio' type='radio', name='difficulty_setting', id='easy', value='./easyquotes.json')
                br
                label(class='label' for='easy') Easy
            div(class='optionContainer')
                input(class='radio' type='radio', name='difficulty_setting', id='medium', value='./mediumquotes.json')
                br
                label(class='label' for='medium') Medium
            div(class='optionContainer')
                input(class='radio' type='radio', name='difficulty_setting', id='hard', value='./hardquotes.json')
                br
                label(class='label' for='hard') Hard
        br
        br
        div(class='quote-display' id='quote')
        textarea(class='quote-input' id='quoteInput' placeholder='Type here' autofocus)
        br
        button(class='btn' onclick='renderQuote()') Start
        br
        p
            br
            a(href='/logout') Logout

    script(src='game.js')