extends layout
block content
    div(class="container2")
        div(class='quote-display' id='quote')
        textarea(class='quote-input' id='quoteInput' autofocus)
        br
        button(onclick='renderQuote()' class='btn') Click to Begin
    script(src='script.js')
    