extends layout
block content
    div(class='quote-display' id='quote')
    textarea(class='quote-input' id='quoteInput')
    br
    button(onclick='renderQuote()' class='btn') Click to Begin
    script(src='script.js')