doctype 
html 
    head 
        title=title
        link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
        link(rel='stylesheet' href='/style.css')
    body
        header
            div(class='container')
                nav
                    ul
                        //- li
                        //-     a(href='/') Home
                        li
                            a(href='/leaderboard') Leaderboard
                        li
                            a(href='/login') Login
        h1(class="title")=title

        block content