extends layout

block content
    br
    br
    table
        tr 
            th Name
            th WPM 
            th Times Played
        each user in allUsers 
            tr 
                td=user.username 
                td=user.wpm 
                td=user.timesplayed 