extends layout

block content
    br
    br
    table
        tr 
            th Name
            th WPM 
            th Times Played
        tr 
            td lkdfjafiadfje ajfeosjf
            td 25
            td 1231