extends layout

block content
    div(class='inputContainer')
        form(method='post' action='/login')
            br
            p Username:
                br
                input(class='input' type='text')
            br
            p Password:
                br
                input(class='input' id='password' type='password')
            br
            div(class='showPassContainer')
                input(class='checkbox' id='checkbox' type='checkbox')
                p Show Password
            p
                br
                input(class='input' id='loginBtn' type='submit' value='Login')
            br
            p
                br
                a(href='/create') New user? Create an account
    
    script(src='login.js')