extends layout

block content
    div(class='inputContainer')
        form(method='post' action='/login')
            br
            p(id='inputText') Username:
            input(class='input' type='text' name='username')
            br
            br
            p(id='inputText') Password:
            input(class='input' id='password' type='password' name='password')
            br
            div(class='showPassContainer')
                input(class='checkbox' id='checkbox' type='checkbox')
                p Show Password
            p
                br
                input(class='input' id='loginBtn' type='submit' value='Login')
            p
                br
                a(href='/create') New user? Create an account
    
    script(src='login.js')