extends layout

block content
    div(class='inputContainer')
        form(method='post' action='/login')
            br
            p(class='question') Username:
                br
                input(class='input' type='text')
            br
            p(class='question') Password:
                br
                input(class='input' type='password')
            br
            p
                br
                input(class='input' id='loginBtn' type='submit' value='Login')
            br
            p
                br
                a(href='/create') New user? Create an account
    
    script(src='script.js')