extends layout
block content
    form(id='form' method='post' action='/signup')
        p Enter username: 
            br
            input(type='text' name='username')
        p Enter password:
            br
            input(type='text' name='password')
        p
            input(type='submit' value='Add User')