* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.title {
    margin: 35px 0px;
    text-align: center;
}

/* ___Nav Bar CSS___ */

:root {
    --navbar-bg-color: #2f3240;
}

body {
    font-family: sans-serif;
    background-color: #e8eef3;
}

header {
    background-color: var(--navbar-bg-color);
    padding: 12px 0px;
}

.container {
    max-width: 1170px;
    margin: auto;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

nav ul li {
    display: inline-block;
    margin-left: 30px;
}

nav ul li a {
    display: block;
    font-size: 16px;
    color: #ffffff;
}

/* ___Typing Game CSS___ */

.gameContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote-display {
    margin: auto;
    padding: .5rem;
    height: auto;
    width: 50%;
    background-color: lightgrey;
    border:#2f3240 2px solid;
    border-radius: 4px;
}

.quote-input {
    margin: auto;
    padding: .5rem;
    height: auto;
    width: 50%;
    background-color: white;
    border: #7f87ad 2px solid;
    border-radius: 4px;
    resize: none;
    outline: none;
}

.quote-input:focus{
    border-color: #2d3141;
}

.btn {
    width: 13%;
    height: 40px;
    background-color: lightgreen;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.correct {
    color:green;
}

.difficulty {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 25%;
    height: 100%;
    background-color: burlywood;
    border-radius: 4px;
}

.difficultyMsg {
    font-size: 20px;
}

.optionContainer {
    display: flex;
    align-items: center;
    padding: 5px 10px;
}

.label {
    padding: 0px 10px;
}

/* ___Leaderboard Page CSS___ */

table{
    padding: 5px;
    margin: auto;
    background-color: #9fadb8;

    /* border:2px solid #2d3141; */
}
th{
    border:2px solid #2d3141;
    background-color: #565c75;
    padding: 15px;
    color: #fff;
}
td{
    border:2px solid #2d3141;
    background-color: #939ece;
    padding: 10px;
    text-align: center;
}

/* ___Login Page CSS___ */

.checkbox {
    margin: auto 10px;
}

.showPassContainer {
    display: flex;
    flex-direction: row;
}

.inputContainer {
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

.input {
    margin-top: 5px;
    margin-bottom: 15px;
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#loginBtn {
    background-color: lightblue;
    font-size: 16px;
}

/* ___Sign Up Page CSS___ */

#createBtn {
    background-color: lightcoral;
    font-size: 16px;
}

#errors {
    display: none;
    background: #f1f1f1;
    color: #000;
    position: relative;
    padding: 15px;
    margin-top: 15px;
}

#errors p {
    padding: 5px 15%;
    font-size: 16px;
}

#errorMsg {
    margin-bottom: 15px;
    text-align: center;
}

.valid {
    color: green;
}

.valid:before {
    position: relative;
    left: -15px;
    content: '✔';
}

.invalid {
    color: red;
}

.invalid:before {
    position: relative;
    left: -15px;
    content: '✖';
}