:root {
    --navbar-bg-color: #2f3240;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.btn {
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 50px;
}

body {
    font-family: sans-serif;
    background-color: #e8eef3;
}

header {
    background-color: var(--navbar-bg-color);
    padding: 12px 0px;
}

.container {
    max-width: 1170px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.logo, nav {
    padding: 0px 20px;
    color: #ffffff;
}

.logo a {
    font-size: 30px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

nav ul li {
    display: inline-block;
    margin-left: 40px;
}

nav ul li a {
    display: block;
    font-size: 16px;
    color: #ffffff;
}

.quote-display {
    margin:auto;
    background-color: white;
    padding: .5rem;
    border:#2f3240 2px solid;
}

.quote-input {
    margin:auto;
    background-color: white;
    padding: .5rem;
    border: #2f3240 2px solid;
}

.correct {
    color:green;
}