* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* ___Nav Bar CSS___ */

:root {
    --navbar-bg-color: #2f3240;
}

body {
    font-family: sans-serif;
    background-color: #e8eef3;
}

header {
    background-color: var(--navbar-bg-color);
    padding: 12px 0px;
}

.container {
    max-width: 1170px;
    margin: auto;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

nav ul li {
    display: inline-block;
    margin-left: 30px;
}

nav ul li a {
    display: block;
    font-size: 16px;
    color: #ffffff;
}

/* ___Typing Game CSS___ */

.quote-display {
    margin: auto;
    background-color: white;
    padding: .5rem;
    border:#2f3240 2px solid;
}

.quote-input {
    margin: auto;
    background-color: white;
    padding: .5rem;
    border: #7f87ad 2px solid;
    resize: none;
    outline: none;
}

.quote-input:focus{
    border-color: #2d3141;
}

.btn {
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 50px;
}

.correct {
    color:green;
}

/* ___Leaderboard Page CSS___ */

table{
    padding: 5px;
    margin: auto;
    background-color: #9fadb8;

    /* border:2px solid #2d3141; */
}
th{
    border:2px solid #2d3141;
    background-color: #565c75;
    padding: 15px;
    color: #fff;
}
td{
    border:2px solid #2d3141;
    background-color: #939ece;
    padding: 10px;
    text-align: center;
}

/* ___Sign Up Page CSS___ */

/* input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
}

input[type=submit] {
    background-color: #04AA6D;
    color: white;
} */

#errors {
    display: none;
    background: #f1f1f1;
    color: #000;
    position: relative;
    padding: 20px;
    margin-top: 10px;
}

#errors p {
    padding: 10px 35px;
    font-size: 18px;
}

.valid {
    color: green;
}

.valid:before {
    position: relative;
    left: -35px;
    content: '✔';
}

.invalid {
    color: red;
}

.invalid:before {
    position: relative;
    left: -35px;
    content: '✖';
}